streamlit==1.58.0
pandas==2.2.3
numpy==2.2.5
scipy==1.15.2
plotly==6.3.1
matplotlib==3.10.1
seaborn==0.13.2
vectorbt==0.28.1
numba==0.62.1
optuna==4.5.0
gate-api==6.97.2
ta==0.11.0
requests==2.32.3
openpyxl==3.1.5
yfinance==0.2.59
scikit-learn==1.7.2
ipython==9.2.0
python-binance==1.0.28
